@{
    Layout  = "_Layout";
}
@using SweetSavory.ViewModels

@model LoginViewModel
<div style="">
<div class='entryLabel'>

<h2>Log in with your account</h2>

<hr />

</div>
@using (Html.BeginForm())
{

    <div class="entry" style="height: 150px;" >
        
    @Html.LabelFor(model=>model.Email)
    @Html.TextBoxFor(model=>model.Email)
    @Html.LabelFor(Model=>Model.Password)
    @Html.PasswordFor(Model=>Model.Password)
        <input type="submit" value="Log in" class="btn btn-default"/>
    </div>
}
</div>