@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Treat
<div>

  <div class='entryLabel'>
    <h4>Add a new Treat</h4>
  </div>

  <div class='entry'>
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Description)
      @Html.TextBoxFor(model => model.Description, new{@required = "required"})
      @Html.DropDownList("FlavorId")
      <input type="submit" value="Add new Treat" class="btn btn-default" />
    }
  </div>
</div>