@{
Layout = "_Layout";
}

@using SweetSavory.Models;
@model List<SweetSavory.Models.Treat>;

  <div>
    <div class='entryLabel'>
      <h1>Treats</h1>
    </div>
    <div class='entry'>

        @if (Model.Any())
        {
        <ul>
          @foreach (Treat Treat in Model)
          {
            <li>@Html.ActionLink($"{Treat.Description}", "Details", new { id = Treat.TreatId })</li>
          }
        </ul>
        }
        else
        {
          <h3>No Treats have been added yet!</h3>
        }

    </div>
  </div>
  <div>
    
      @if(User.Identity.IsAuthenticated)
      {
        <div class='entryLabel propertyLabel'>
          Treats menu
        </div>
        <div class='property'>
          <p>@Html.ActionLink("Add new Treat", "Create")</p>
          <p>@Html.ActionLink("Home", "Index", "Home")</p>
        </div>
      }
      
  </div>